 #ar{
 	font-family: aladin;
 	font-size: 40px;
 	color: white;
 }
 
  #com{
 	font-size: 20px;
 	color: white;
 }

  #head{
  	background-color: firebrick;
  }
 
 #arr{
 	font-family: aladin;
 	font-size: 60px;
 	color: rgba(255, 0, 0, 0.6);
 }
 #p{
 	font-family: acme;
 	font-size: 20px;
 } 
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 10px 12px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: #8FBC8F;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: gray;
  width: 100%;
  z-index: 1;
}

.subnav-content  {
  font-size: 20px ;
  width:1000px ;
  float: left;
  color: white;
  text-decoration: none;
}
a:hover {
    background-color: #eee;
   text-decoration: none;
}
.subnav-content {
  background-color: black;
  color: black;
}
a {
   color:gray ;
}
.subnav:hover .subnav-content {
  display: block;
}
